<and>
  <key_value key='CPUVENDOR' op='=' value='GenuineIntel'/>
  <key_value key='HVM' op='=' value='1'/>
  <key_value key='CPUFAMILY' op='=' value='6'/>
  <key_value key='CPUMODELNUMBER' op='>' value='59'/>
</and>
